## 🪻 Prose Deploy

{% if url -%}
{{ check_mark }} **Preview live** at *[{{ url }}]({{ url }})*.

Built from {{ commit_link }} on `{{ ref }}`.
{% else -%}
{{ check_mark }} **Build failed** at {{ commit_link }} on `{{ ref }}`.
{% endif %}
