.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4 {
  font-family: var(--prose-font-display);
}

.vp-doc h2,
.vp-doc h3,
.vp-doc h4 {
  --vp-header-anchor-symbol: '§';
}

.vp-doc .header-anchor {
  font-family : var(--prose-font-display);
  font-style  : italic;
  color       : var(--prose-c-celadon);
}
